VITE_WORDPRESS_URL=http://127.0.0.1:8001
VITE_WORDPRESS_JSON_FEED=true
VITE_CONTENTFUL_SPACE_ID=id-space
VITE_CONTENTFUL_ACCESS_TOKEN=token-contentful
VITE_CLARITY_ID=-clarity-id
VITE_GOOGLE_ANALYTICS_ID=G-analytics-id
VITE_GOOGLE_TAG_MANAGER_ID=G-tag-manager-id
VITE_APP_URL=http://vikractdemo.naimara.com 